*{
    margin: 0;
    padding: 0;

}
body{
    background-image: url(./image3.jpg);
    background-size: cover;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 /* background-color: lightsalmon;  */
 background-image: url(./mediamodifier-I3HPUolh5hA-unsplash.jpg);
 background-size: cover;
}

.Calculator{
    background-color: #3b81b6;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff'
                      5px 5px 12px rgba(0,0,0,.16) ;
   display: grid;
   grid-template-columns: repeat(4,60px);
   background-image: url(./image3.jpg);

}
h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: rebeccapurple;
}
input{
    grid-column: span 4;
    height: 26px;
    width: 140px;
    background-color: bisque;
    box-shadow: inset -5px -5px 12px #ffffff,
               inset 5px 5px 12px rgba(0,0,0,.16);
   border: none;
   border-radius: 25px;
   color: rgb(12, 9, 3);
   font-size : 15px;
   text-align: center;
   margin: auto;
   margin-top: 40px;
   margin-bottom: 30px;
padding: 20px;


}
button{
    height: 32px;
    width: 32px;
    background-color: hotpink;
    box-shadow: -5px -5px 12px #ffffff,
                      5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 50%;
    margin: 5px;
    font-size: 18px ;

}
.equal{
    width: 115px;
    border-radius: 40px;
    background-color: pink;
    box-shadow: -5px -5px 12px #ffffff,
                      5px 5px 12px rgba(0,0,0,.16);
}
@media(max-width:62em){
    .Calculator{
        background-color: #3b81b6;
        padding: 5px 5px;
        border-radius: 25px;
        box-shadow: inset 5px 5px 12px #ffffff'
                          5px 5px 12px rgba(0,0,0,.16) ;
       display: grid;
       grid-template-columns: repeat(4,60px);
       background-image: url(./image3.jpg);
    
    }
    .container{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
     background-image: url(./annie-spratt-0ZPSX_mQ3xI-unsplash.jpg);
     background-size: cover;
     justify-items: center;
    }
}
